[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/barrierc --disable-crypto 192.168.123.181
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=barrierc
Name=barrierc
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
